.class1{
    border:solid;
    padding: 25px;
}
#test{
    background-color: deeppink;
}
.class1:hover{
   background-color: violet;
}
.class2{
    border:solid;
    padding: 25px;
}
.class2:hover{
    background-color: red;
}
.class3{
    border:solid;
    padding: 25px;
}
.class3:hover{
    background-color: blueviolet;
}
.btn{
   
    height: 50px;
    width: 100px;
    background-color: aqua;
    
}
.btn:hover{
    background-color: yellow;
}